@font-face {
  font-family: "Thunder";
  src: local("A_Love_of_Thunder"),
    url(../../fonts/LOT/A_Love_of_Thunder.ttf) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ash";
  src: local("Ash"), url(../../fonts/Ash/DCC\ -\ Ash.otf) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BeautyMountains";
  src: local("BeautyMountains"),
    url(../../fonts/BeautyMountains/BeautyMountainsPersonalUse-od7z.ttf)
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Sonder";
  src: local("SonderSans"),
    url(../../fonts/Sonder/SonderSans-Black.otf) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TAKOYAKI";
  src: local("TAKOYAKI"), url(../../fonts/Takoyaki/TAKOYAKI.ttf) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Revans";
  src: local("Revans"), url(../../fonts/Revans/Revans-Medium.ttf) format("woff");
  font-style: normal;
  font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --main-color: #1d1d1b;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  -webkit-overflow-scrolling: touch; /* https://medium.com/react-camp/how-to-fight-the-body-scroll-2b00267b37ac */
  font-family: "Revans", "Ariel", sans-serif;
  color: var(--main-color);
  background-color: white;
  text-align: justify;
}

button {
  cursor: pointer;
  font-family: inherit;
}
